<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raw Product List</title>
    {% load bootstrap5 %}
	{% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
	<link rel="stylesheet" href="{% static 'store/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Raw Product List</h1>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.1 }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.1 }}</h5>
                        <p class="card-text">{{ product.2 }}</p>
                        <p class="card-text">${{ product.3 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
